[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accelerate = "*"
transformers = "*"
diffusers = "*"
minepi = "*"
numpy = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "*"
